/* You can add global styles to this file, and also import other style files */
.users-account{
  background-image: url('assets/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  padding-top: 50px;
  height: 100vh;
}

.p-card .p-card-body {
  overflow-y: scroll !important;
  height: 30rem !important;
}

.p-datatable>.p-datatable-wrapper {
  overflow-x:hidden !important;
}
